html{
	height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    padding: 12px;
	text-align: center;
}
header{
	position: absolute;
	width: 100%;
	margin-top:50px;
	cursor: default;
}
header .second{
	color: white;
}
header .first{
	text-align:right;
}
header i{
	font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
header p{
	display:inline-block;
	width: 50%;
}
header .h{
	font-family: 'Raleway', sans-serif;
	font-size: 24pt;
	font-weight: bold;
	padding: 12px;
	padding: 7px 3px;
	display: inline-block;
}
.search_slider, .add_slider{
	width: 50%;
	height: 100%;	
	position: absolute;
	text-align: center;
}
.search_slider div, .add_slider div{
	margin-top: 300px;
	min-width: 140px;
}
.search_slider{	
	background-color: white;
	left: 0px;
	color: black;
}
.add_slider{
	background-color: black;
	right: 0px;
	color: white;
}
.search_slider p, .add_slider p{
	line-height: 0;
}
iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.info{
	position: absolute;
	top: 20px;
	right: 20px;
	width:25px;
	cursor: pointer;
}
.popup{
	position: absolute;
	width: 50%;
	margin: 10% 25%;
	background-color: white;
	border: 1px solid black;
	display:none;
}
.popup .close{
	float: right;
	margin-right: 4px;
	color: gray;
	cursor: pointer;
}
.popup h2{
	background-color: #F7F7F7;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid gray;
}
.popup p{
	padding: 10px
}
.popup dl{
	font-size: 75%;
}
.popup dt{
	padding: 3px 10px;
}
.popup dd{
	padding: 3px 10px;
	margin-left: 50px;
	margin-bottom: 10px;
	font
}
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	display:none;
}