/* main layout */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    font-size: 11pt;
}

#title {
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    padding: 12px;
}

#container {
        margin: 40px auto;
        overflow: hidden;
        padding: 12px;
        width: 1100px;
        background-color: #FFF;
        border: 1px solid #999;
        border-radius: 8px;
        box-shadow: 3px 3px 2px #222;
}

#content {
    overflow: auto;
    /*padding: 12px;*/
}

/* page elements */

#content h3{
    background: #CCC;
    font-size: large;
    padding: 10px;
    -webkit-border-radius:50px;
    padding-left: 20px;
}

/*#content ul{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}*/

.course-listing {
    border: 1px dotted #999;
    overflow: auto;
	width: 100%;
    margin-bottom: 12px;
}

.left-col .header{
      font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    background:#CCC;
}
.left-col{
    
    padding:10px;
}
.right-col{
    padding-left: 10px;
    background: cornflowerblue;
}

.header {
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 12px;
}

.results-related {
    float: left;
    width: 300px;
    padding: 10px;
}

.results-related ul li{

    padding: 5px;
}
.results-main {
    float: left;
    width: 700px;
    /*padding-left: 20px;*/
}

/* Elements handling display of search results */
#course-results{
    padding-top:10px;
    padding-left: 8px;
    padding-bottom: 8px;

}
#course-results h4{
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 5px;

}
#course-results ul{

    padding:5px;
}
#course-results li{
    border: 1px solid #CCC;
    padding-bottom:10px;
}
#course-results div{
    background: #CCC;
    padding: 8px;
}
#course-results p{
    /*border: 1px solid #ccc;*/
    padding: 8px;
}
#course-results ul li {
    display:inline;
    padding: 8px;
    color: cornflowerblue;
    text-decoration:underline;
    border:0;
    }
#course-results ul li sup {
    font-size: 12px;
    vertical-align: top; 

    }

.updn {
    text-decoration: none;
    padding-left: 2px;
}
.header {
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 12px;
}

/* form elements */

.form-element {
    float: left;
    width: 600px;
    padding: 10px;
}

input {
    padding: 6px;
}

label {
    font-weight: bold;
}

/* jquery UI autocomplete */

.ui-helper-hidden-accessible { display:none; }
ul#ui-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    background: #CCC;
    /*padding-top:5px;*/
    border: 1px solid rgb(100,149,237);
}
ul#ui-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all li{
    padding-bottom:5px;
    padding-top: 5px;
    border: 1px solid rgb(100,149,237);
}

/* text elements */

.success {
    font-weight: bold;
    color: green;
}
.error {
    font-weight: bold;
    color: red;
}

/* search term box */
#search{
    padding: 12px;
   
}
#search_query{
     width: 235px;
    font-size: 14px;
}
#searchBtn{

    background-color: #4479BA;
    /*background-color: #F36CBC;*/
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius: 100px;
    color:#fff;
    font-family: 'Oswald';
    font-size: 125%;
    text-shadow:1px 1px #4479BA;
    cursor:pointer;
    border: 1px solid ##4479BA;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#searchBtn:hover{
    
    box-shadow: 0px 0px 1px #777;
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;

}

/*#searched-tags{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    color:cornflowerblue;
}*/
#related-tags, #searched-tags{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    color:cornflowerblue;
}

#searched-tags li:hover{
	cursor: pointer;
}

.tagList:hover{
	text-decoration: underline;
	cursor: pointer;
}


#addCourse {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
}
.addCourse:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.addCourse:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
.deleteButton{
	display: none;
}
.back{
	float: right;
}
.back:hover{
	opacity: 0.4;
}





