/* main layout and navigation */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    font-size: 11pt;
}

#titlebar {
    width: 1100px;

}

#title {
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    padding: 12px;
    width: 600px;
}

#sitetitle {
    float: right;
    color: #CCC;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    padding: 0px 12px;
}

#navbar {
    overflow: hidden;
    width: 100%;
    padding: 18px 12px;
}

#navbar-add {
    float: right;
    margin-right: 12px;
}

#navbar-select {
    float: left;
    width: 900px;
}

#description {
    float: left;
    font-size: 12pt;
    padding: 8pt;
    width: 100%;
    margin-bottom: 8px;
}

#container {
        margin: 40px auto;
        overflow: hidden;
        padding: 12px;
        width: 1100px;
        background-color: #FFF;
        border: 1px solid #999;
        border-radius: 8px;
        box-shadow: 3px 3px 2px #222;
}

#content {
    overflow: auto;
    /*padding: 12px;*/
}

/* page-specific elements */

#content h3{
    background: #CCC;
    font-size: 14pt;
    padding: 10px;
    -webkit-border-radius:50px;
    padding-left: 20px;
}

.course-listing {
    border: 1px dotted #999;
    overflow: auto;
	width: 99.9%;
    margin-bottom: 12px;
}

.course-listing-header {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    background:#CCC;
}

.left-col{
    line-height: 120%;
    float: left;
    width: 600px;    
    padding:10px;
}

.right-col{
    float: left;
    width: 450px;
    padding-left: 10px;
}

.header {
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 12px;
}

.results-related {
    float: left;
    width: 300px;
    padding: 10px;
	display: none;
}

.results-related ul li{
    padding: 5px;
}

.results-main {
    float: left;
    width: 700px;
}

/* Elements handling display of search results */

#course-results{
    padding-top:10px;
    padding-left: 8px;
    padding-bottom: 8px;
}

#course-results h4{
    font-size: 14pt;
    font-weight: bolder;
    padding: 10px 5px;
}

#course-results ul{
    padding:5px;
}

#course-results li{
    border: 1px solid #CCC;
    padding-bottom:10px;
}

#course-results div{
    background: #CCC;
    padding: 8px;
}

#course-results p{
    line-height: 120%;
    padding: 8px;
}

#course-results ul li {
    display:inline-block;
    padding: 4px;
	margin: 8px;
    color: cornflowerblue;
    border:1px solid #CCC;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
}

#course-results ul li sup {
    font-size: 12px;
    vertical-align: top; 
}

.updn {
    text-decoration: none;
    padding-left: 2px;
}

.header {
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 12px;
}

/* form elements */

.form-element {
    float: left;
    width: 600px;
    padding: 10px;
}

input {
    padding: 6px;
}

label {
    font-weight: bold;
    margin-right: 8px;
}

select {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    height: 22px;
    vertical-align: middle;
}

input.addTagText {
    width: 200px;
}

button.addTagBtn {
    font-family: 'Open Sans', sans-serif;
    height: 24px;
    font-size: 9pt;
    vertical-align: middle; 
}
button.whichCourseBtn {
    font-family: 'Open Sans', sans-serif;
    height: 28px;
    font-size: 11pt;
    vertical-align: middle; 
}

/* jquery UI autocomplete */

.ui-helper-hidden-accessible { display:none; }

ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    background: rgb(243, 243, 243);
    border: 1px solid rgb(100,149,237);
    width: 250px;
    font-size:10pt;
    font-family: 'Open Sans', sans-serif;
}

ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all li{
    border-bottom: 1px dotted #000;
    padding: 3px;
}

/* search term box */

#search{
    margin-top: 14px;
    padding: 12px;
}

#search_query{
    width: 235px;
    font-size: 14px;
}

#searchBtn{
    background-color: #4479BA;
    /*background-color: #F36CBC;*/
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius: 100px;
    color:#fff;
    font-family: 'Oswald';
    font-size: 125%;
    text-shadow:1px 1px #4479BA;
    cursor:pointer;
    border: 1px solid #4479BA;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#searchBtn:hover{
    box-shadow: 0px 0px 1px #777;
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

#related-tags, #searched-tags{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    color:cornflowerblue;
}

#searched-tags li:hover{
	cursor: pointer;
}

#resultsFeedback, #searchTagFeedback {
    padding: 2px;
    display: none;
    color: #4479BA;
}

.tagList:hover{
	text-decoration: underline;
	cursor: pointer;
}

#addCourse {
    padding: 4px 6px;
    font-size: 8pt;
    text-decoration: none;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
}

#addCourse:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: underline;
}

.addCourse:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.deleteButton{
	display: none;
}

.back{
	float: right;
	cursor: pointer;
}

.back:hover{
	opacity: 0.4;
}

/* tag voting list / display */

.tag-box {
    float: left;
    max-width: 450px;
    padding: 12px 0px 12px 12px;
    text-align: left;
    font-size: 10pt;
}

.tagrow {
    width: 450px;
    height: 22px;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: lightGrey;
}

.tagrow .first {
    border: none;
}

.tagrow_name {
    width: 410px;
    float: left;
    text-align: left;
    vertical-align: top;
    margin-bottom: 2px;
    margin-top: 2px;
}

.tagrow_inc {
    width: 40px;
    float: right;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    margin-bottom: 2px;
    margin-top: 2px;
}

.tagrow_add {
    width: 450px;
    padding: 8px 0px 4px 0px;
}

/* text and links */

h2 {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 8px;
}

a.course:link {font-size: inherit; text-decoration: none; color: #000;}
a.course:visited {font-size: inherit; text-decoration: none; color: #000;}
a.course:hover {font-size: inherit; text-decoration: underline; color: #4479BA;}
a.course:active {font-size: inherit; text-decoration: underline; color: #4479BA;}
